body {
    background-color: #c0ffb3;
    font-family: Arial, Helvetica, sans-serif;
}
#mainBox {
    border: 100px  #3c9d9b solid;
    margin-top: 400px;
    padding: 70px;  
    margin:auto;
    background-color: #394a6d;
    text-align: center;
    max-width: 850px;
    height: 1050px;
}
#externalBox{
    border:none;
    margin-top: 100px;
    padding: 150px;  
    margin:auto;
    background-color: #52de97;
    text-align: center;
    max-width: 1100px;
    height: 1200px;
}
#mainParagraph {
    font-weight: 0%;
    font-size: 17px;
    line-height: 125%;
    text-align: left;
    color: lightgray;
    vertical-align: inherit;
    margin: 20px 0;
    margin-bottom: 40px;
	padding: auto;

}
h2 {
    color:#3e5177;
    font-weight: bold;
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    vertical-align: inherit;
    margin: 20px 0;
	padding: auto;

}
h3 {    
    font-weight: 0;
    line-height: 125%;
    text-align: left;
    color: lightgray;
    margin-bottom: 10px;
}
#listParagraph, ol{
    font-weight: 0%;
    font-size: 17px;
    line-height: 125%;
    text-align: left;
    color: lightgray;
    vertical-align: inherit;
    padding: auto;
    border: auto;
    list-style-position: inside;
    list-style-type: decimal;

}
ul{
    font-weight: 0%;
    font-size: 17px;
    line-height: 125%;
    text-align: left;
    color: lightgray;
    vertical-align: inherit;
    padding: auto;
    border: auto;
    list-style-position: inside;
    list-style-type: circle;
    margin-bottom: 40px;
}
#myface {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}